@page "/customers"


@inject ContainerStorage ContainerStorage
@rendermode InteractiveServer
<h3>Customers</h3>


<SearchBarComponent SearchUsersCallBack="HandleSearchUser" OnClearSearchBarCallBack="HandleClearSearchBar" @ref="searchBarComponent">
    <ElementControl>
        <a class="btn btn-outline-secondary" href="/customer"> Add Customer </a>
    </ElementControl>
</SearchBarComponent>


<CustomerListComponent FilteredCustomersData="@filteredCustomers" PageSize="@pageSize" CurrentPage="@currentPage" TotalPagesCallBack="HandleTotalPage"></CustomerListComponent>



<PaginationComponent TotalPages="@totalPages" PageSizeCallBack="HandlePageSize" CurrentPageCallBack="HandleCurrentPage" @ref = "paginationComponent"></PaginationComponent>


@code {

    private int totalPages;

    private int pageSize;

    private int currentPage;

   // private List<User> listUsers = new List<User>();    

    private string? filteredCustomers = "";

    private SearchBarComponent? searchBarComponent;

    private PaginationComponent? paginationComponent;

    //private CustomerListComponent? customerListComponent;


    private void HandleTotalPage(int totalPages)
    {
        this.totalPages = totalPages;
    }

    private void HandlePageSize(int pageSize)
    {
        this.pageSize = pageSize;
        searchBarComponent?.ClearSearchBar();
        //CustomerListComponent?.ClearSorting();

    }

    private void HandleCurrentPage(int currentPage)
    {
        this.currentPage = currentPage;
    }



    public void HandleClearSearchBar()
    {

    }

    public void HandleSorting()
    {
        paginationComponent?.setCurrentPage(1);
    }

    public void HandleSearchUser(string customerFilterData)
    {
        filteredCustomers = customerFilterData;
    }


}
