@inject ContainerStorage ContainerStorage 

<div class="d-flex flex-row justify-content-between">
    <div class="input-group mb-3" style="">
        @SelectControl
    </div>
    <div class="input-group mb-3" style="">
        <input type="text" class="form-control border-secondary" placeholder="@SearchBarInfo" @bind-value="elementFilter" @bind-value:event="oninput" />
        <button type="button" class="btn btn-outline-secondary" @onclick="HandleSearch">Search</button>
        <button type="button" class="btn btn-outline-secondary" @onclick="ClearSearchBar">Clear</button>
        
        @* <a class="btn btn-outline-secondary" href="/user"> Add User </a> *@
        @ElementControl
    </div>
</div>



@code {

    // [Parameter(CaptureUnmatchedValues = true)]
    // public Dictionary<string, object>? OtherAttributes { get; set; } // style="width:700px"

    [Parameter]
    public string CurrentPath { get; set; } = string.Empty;

    [Parameter]
    public string? SearchBarInfo { get; set; } = "Input Info";

    [Parameter]
    public EventCallback<string> SearchUsersCallBack { get; set; }

    [Parameter]
    public EventCallback OnClearSearchBarCallBack { get; set; }

    [Parameter]
    public RenderFragment? ElementControl { get; set; }

    [Parameter]
    public RenderFragment? SelectControl { get; set; }

    private bool isFirstRender = true;

    private string? elementFilter;

    private void HandleSearch()
    {
        if (!string.IsNullOrWhiteSpace(elementFilter))
        {
            SearchUsersCallBack.InvokeAsync(elementFilter);
            ContainerStorage.SetSearchedText(CurrentPath, elementFilter);
        }
    }

    public void ClearSearchBar()
    {
        if (!string.IsNullOrWhiteSpace(elementFilter))
        {
            this.elementFilter = string.Empty;
            ContainerStorage.SetSearchedText(CurrentPath, string.Empty);
            SearchUsersCallBack.InvokeAsync(elementFilter);
            OnClearSearchBarCallBack.InvokeAsync();
        }

    }

    protected override void OnParametersSet()
    {
        if (!isFirstRender && !string.IsNullOrWhiteSpace(ContainerStorage.GetLastSearchedText(CurrentPath)))
        {
            this.elementFilter = ContainerStorage.GetLastSearchedText(CurrentPath);
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            isFirstRender = false;
            if (!string.IsNullOrWhiteSpace(ContainerStorage.GetLastSearchedText(CurrentPath)))
                this.elementFilter = ContainerStorage.GetLastSearchedText(CurrentPath);
        }
    }

}
