

<div class="d-flex flex-row justify-content-end">
    <div class="input-group mb-3" style="width:34rem">
        <input type="text" class="form-control" placeholder="Enter User Info" @bind-value="usersFilter" @bind-value:event="oninput" />
        <button type="button" class="btn btn-outline-secondary" @onclick="HandleSearch">Search</button>
        <button type="button" class="btn btn-outline-secondary" @onclick="ClearSearchBar">Clear</button>
        
        @* <a class="btn btn-outline-secondary" href="/user"> Add User </a> *@
        @ElementControl
    </div>
</div>



@code {

    // [Parameter(CaptureUnmatchedValues = true)]
    // public Dictionary<string, object>? OtherAttributes { get; set; } // style="width:700px"

    [Parameter]
    public EventCallback<string> SearchUsersCallBack { get; set; }

    [Parameter]
    public EventCallback OnClearSearchBarCallBack { get; set; }

    [Parameter]
    public RenderFragment? ElementControl { get; set; }


    public string? usersFilter;

    private void HandleSearch()
    {
        SearchUsersCallBack.InvokeAsync(usersFilter);
    }

    public void ClearSearchBar()
    {
        this.usersFilter = string.Empty;
        SearchUsersCallBack.InvokeAsync(usersFilter);
        OnClearSearchBarCallBack.InvokeAsync();
    }


    
}
